* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Inicio CSS */
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 60px;
  margin-left: 20px;
}

.header h1 {
  color: white;
  margin-top: 10px;
  font-family: "SPQR Italic", sans-serif;
  font-size: 30px;
}

.trybewarts-login {
  display: flex;
  height: 30px;
  width: 36%;
}

#email,
#password {
  margin-right: 10px;
  padding: 17px;
  margin-top: 12px;
}

#loginBtn {
  margin-top: 29px;
  margin-right: 13px;
  align-self: center;
  background-color: #d3a625;
  color: white;
}

main {
  display: flex;
}

#form-avalition{
  margin: 40px 0px 30px 0px;
}

#form-avalition h3{
  text-align: center;
  font-family: "SPQR", sans-serif;
  font-size: 18px;
}

.form-avaliation{
text-align: center;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.form-users {
  display: flex;
}

/* Styles */
#input-name , #input-lastname{
margin: 0 4px 0 4px;
}

.form-registration{
  display: flex;
  margin-top: 13px;
}

#input-email{
  margin-left: 3px;
}

#label-house{
  margin-left: 10px;
}

#house{
  width: 336px;
  margin-right: 2px;
}


#trybewarts-forms-logo {
  height: 500px;
  margin: 50px 35px 0 0;
}

.family {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

.tech {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#avalation-trybewarts{
  margin-top: 12px;
}

#form-textarea{
  margin-top: 13px;
}

#textarea{
  resize: none;
  width: 540px;
  height: 80px;
}

#counter, #counter-text{
  font-size: 11px;
  text-transform: initial;
}
